.rodape{
    background-image: url('../images/2f99bfc0ac6d02db55e307d676168af2.gif');
    height: 150px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}

.fundo-rodape{
    background-color: rgba(21, 45, 56, 0.603);
    height: 150px;
}

.textin{
    margin-top: 40px;
}

.contato{
    margin-top: 10px;
    word-spacing: 15px;
    font-size: 25px;
}

.contato a{
    color: rgb(95, 141, 226);
}

.contato a:hover{
    color: rgb(221, 118, 247);
    text-shadow: 1px 1px rgb(125, 125, 126);
}