@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.header{
    background-image:url("../images/2f99bfc0ac6d02db55e307d676168af2.gif");
    height: 310px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.menu{
    text-align: center;
    width:550px;
    height: 200px;
    background-image: url("../images/overlay-blue.png") ;
    border-radius: 5px;
}
.inside-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.imagem img{
    border-radius: 100%;
    margin-right: 25px;
    margin-top: 20px;
}

.texto{
    text-align: start;
    writing-mode: horizontal-tb;
    margin-top: 18px;
    color: #fff;   
}

.titulo{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: none!important;
}

.subtitulo{
    margin: 0;
    text-indent: 60px;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}

.descricao{
    width: 320px;
    height: 55px;
    word-wrap: break-word;
    text-align: justify;
    overflow-y: scroll;
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.nav-bar{
    width: 550px;
    margin:0;
}

.btn{
    box-sizing: border-box;
    border-radius: 4px;
    height: 15px!important;
    line-height: 15px!important;
    font-size:15px;
    background-color: rgba(43, 113, 183, 0.4);
    color: #fff;
    padding: 5px 16px!important;
    outline: 0;
    font-weight: bold;
    text-decoration: none;
}


.btn:hover{
    height: 18px!important;
    line-height: 18px!important;
    background-color: rgba(54, 116, 197, 0.753);
}

.btn:active{
    background-color:rgba(46, 97, 165, 0.753);
}

